[2016-07-26 18:12] adler-j opened #1 "Windows install instructions"
Currently, when following the installation guide on windows (tested on win 7 and 10) the following error is given:

[code]

This can be solved (according to [this stackoverflow thread](http://stackoverflow.com/questions/23119413/how-to-install-python-opencv-through-conda)) by running

[code]

After doing this, the installation works as expected. This tip may need to be added to the installation in

[2016-07-26 22:12] SteveDiamond commented on #1
Thanks! I've added a note for Windows installation.

[2016-07-26 22:12] #1 closed

[2016-07-26 23:04] adler-j opened #2 "Data folder missing"
Several examples seem to be referring a data folder, this is however missing in the repository. See for example [here](https://github.com/comp-imaging/ProxImaL/blob/c92701a5d05a78d433ef4815ccd079b0807fbb95/proximal/examples/test_fft.py#L32).

[2016-07-27 23:35] SteveDiamond commented on #2
The data folder is inside the examples directory:
https://github.com/comp-imaging/ProxImaL/tree/master/proximal/examples/data
You must run the example scripts from the examples directory. I added a note in the examples folder that explains this.

[2016-07-27 23:35] #2 closed

[2016-08-01 06:55] adler-j opened #3 "Variable.__init__ fails with shape given as list"
Steps to reproduce:

[code]

[2016-08-01 06:58] adler-j opened #4 "Deep failure when using patch_NLM"
Steps to reproduce:

[code]

Python 2.7.12
Windows 10
cv2 2.4.11

Edit: Title changed, problem seems to be deeper.

[2016-08-01 18:14] SteveDiamond commented on #3
I don't get the same error. What version of Python are you using? I made a change that hopefully fixes this bug anyway.

[2016-08-01 22:41] fheide commented on #4
This should be fixed now with with commit d8f7feb . The problem was a default choice of the LAB NLM, even for a grayscale image.

[2016-08-01 22:41] #4 closed

[2016-08-01 23:53] adler-j commented on #3
Python 2.7 running on windows 10. I'll see if the updated version still has the fix later today.

[2016-08-02 08:28] aringh commented on #3
I don't get the error on my ubuntu 14.04 machine. I installed ProxImaL from git, and the last commit is a843b5be.
[code]

[2016-08-02 15:58] adler-j commented on #3
This now works on my machine as well. Should be closable.

[2016-08-02 16:06] #3 closed

[2016-08-02 16:09] adler-j opened #5 "Tests seem to assume Halide is installed"
When running the tests without Halide installed several tests fail with messages similar to this:

[code]

Platform used is windows 10 with python 2.7.

[2016-08-03 07:42] adler-j opened #8 "PEP8 style conformance"
I've been looking some at the code now in order to get it working nicely with [ODL](https://github.com/odlgroup/odl), and one thing I've come to notice is that you do not seem to follow the official python style as given in [PEP8](https://www.python.org/dev/peps/pep-0008/). Python differs from most other languages in there being an official style guide that should be used with it, and it is highly

[2016-08-03 17:21] SteveDiamond commented on #8
Wow, I should have been doing this for cvxpy too. I'll fix this in proximal.

[2016-08-03 19:27] SteveDiamond commented on #8
Ok, I got a little obsessed with this and now all the code is PEP8 compliant (outside of proximal/examples and proximal/tests).

[2016-08-03 19:27] #8 closed

[2016-08-04 00:09] SteveDiamond commented on #5
I've made it so the tests run properly without halide. I used this to get the tests running on travis CI. I'll add a second integration test with Halide later.

[2016-08-04 00:09] #5 closed

[2016-08-04 08:33] adler-j commented on #8
A tip if you want to keep this up: add `pytest.pep8` to your travis CI build, that way you are forced to do this in each pull request etc :)

[2016-08-04 19:04] adler-j opened #9 "Callback parameter for solvers"
It is often of interest to inspect partial results of a solver, perhaps for debugging or for somehow displaying partial results.

The solvers in Scipy provides a solution to this in allowing users to pass a `callable` that is called with the current iterate, see e.g. [scipy.optimize.minimize](http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.optimize.minimize.html) and [scipy.optimi

[2016-08-04 19:16] adler-j opened #10 "Example of using patch_NLM with a solver"
I've been trying to use `patch_NLM` with a nontrivial data discrepancy term, but my results seem to always diverge. The call is basically, using [this ODL branch](https://github.com/odlgroup/odl/pull/494):

[code]

Which gives utter nonsense as a result, and it does not seem to converge when `max_iters` is increased, nor does overestimating the `norm_bound` help. Changing the scaling term `0.01´ i

[2016-08-04 21:14] SteveDiamond opened #12 "Cache processed right-hand side for direct least squares solver"
We should cache `(K^TK)^{-1}K^Tb` when repeatedly solving  `||Kx - b||^2 + (\rho/2)||x-v||^2` directly.

[2016-08-04 21:58] SteveDiamond commented on #8
Thanks for the tip! I've done this for proximal and also cvxpy now.
On Thu, Aug 4, 2016 at 1:33 AM Jonas Adler <notifications@github.com> wrote:

[2016-08-05 07:14] aringh commented on #10
I don't know if I'm doing something wrong, but when I tried the above code I get the following error
[code]

Before running I just pulled the last versions of both ODL and ProxImaL, so I have the latest version from the [ODL branch](https://github.com/odlgroup/odl/pull/494) (i.e., commit [14ccca7](https://github.com/odlgroup/odl/pull/494/commits/a14ccca7b38ccfaea5ccc207d03a7bc9bfd6aa5a)) and the l

[2016-08-05 08:13] aringh commented on #10
This will sound very strange, with the use of `norm_bound` and `show`...

I went back to the [the Laplace example in ODL](https://github.com/odlgroup/odl/blob/a14ccca7b38ccfaea5ccc207d03a7bc9bfd6aa5a/examples/solvers/cvx_solvers_poisson.py). There you basically have the following example

[code]

When I run this exact code above, it gives output from ProxImaL on the form:

[code]

and after 1000 i

[2016-08-05 08:27] aringh commented on #10
This might be a spyder-related issue. When I run the code in the standard Konsole everything runs nicely. @adler-j are you running the original issue-code in spyder? Try to remove the `show` statement.

[2016-08-05 08:48] aringh commented on #10
Removing the show statement, or running it in the Konsole, I don't get the crash that I first reported... I seem to have an issue with spyder and graphics.

[2016-08-07 06:05] adler-j commented on #10
Not able to test this atm, but I am not getting NaN as an answer, instead only getting a typically divergent sequence. So I dont think that is the issue.

Regarding getting NaN when using `show`, this is possibly because calling `show` causes matplotlib to be imported in ODL. You could try changing `rhs.show()` to `import matplotlib.pyplot as plt` and see if the issue persists.

[2016-08-08 01:35] SteveDiamond commented on #10
The whole matplotlib in spyder issue is pretty bizarre. I wanted to add though that ``patch_NLM`` is nonconvex, so for practical applications you should specify an initial point ``x0`` via ``prob.solve(x0=...)``.

[2016-08-08 18:32] adler-j commented on #10
Certainly agree. Interestingly we found a related yet very similar bug in [the astra-toolbox package](https://github.com/astra-toolbox/astra-toolbox/issues/16) earlier this year. That time creating a plot changed the behaviour of the rest of the code. May be related?

What is the initial guess otherwise?

[2016-08-08 21:55] SteveDiamond commented on #10
The default initial guess is x0 = 0.

On Mon, Aug 8, 2016 at 11:33 AM Jonas Adler <notifications@github.com>
wrote:

[2016-08-11 09:47] adler-j opened #13 "Python 3 support"
ProxImalL currently has a few python2 only statements, mostly `print x`. Is there a plan to start supporting Python3 as well?

[2016-08-11 10:53] adler-j opened #14 "set_ methods should be property setters"
There are several instances of `set_some_attribute` in the code, this is considered a Python anti-pattern, see e.g. [this](http://stackoverflow.com/questions/6618002/python-property-versus-getters-and-setters) and [this stackoverflow thread](http://stackoverflow.com/questions/2627002/whats-the-pythonic-way-to-use-getters-and-setters). These should perhaps be changed to either a property + setter p

[2016-08-11 11:00] adler-j opened #15 "test_prox_fn tests cvxpy components"
Currently in `test_prox_fn` the following line is run (among others):

[code]

I assume that this is a copy-paste error and that the test should be for `proximal.Variable`? Otherwise these need to be import guarded since `cvxpy` is not a required dependency of `proximal` and not having it currently causes the tests to crash.

[2016-08-11 11:11] adler-j opened #16 "Reasoning behind the Problem class"
When writing some examples I have come to realize that we pretty much always write:

[code]

Looking through the `proximal` code base, the only place I see a divergence from this pattern is where the `set_` methods are tested, never in use.

Is there a reason that the `Problem` class exists? Why could the above not simply be written in a functional manner:

[code]

[2016-08-11 17:11] SteveDiamond commented on #16
Right now it's true the problem class doesn't do much. But eventually it could be used to cache work when the same problem is solved repeatedly for different data/hyper-parameters, or to store the solver status and things like that. This is what happens in cvxpy and at least I personally find it useful.

[2016-08-11 17:13] SteveDiamond commented on #15
No, this is intentional. cvxpy is a required dependency for running the tests. This is mentioned (a bit obscurely) in the installation instructions. It's much easier to write the tests with a gold standard convex solver to compare against. I know you guys use windows and installing cvxpy on windows is a bit of a pain, but I'm working on this and very soon cvxpy installation will be extremely easy

[2016-08-11 17:15] SteveDiamond commented on #15
Hmm, I see what you mean now. You're suggesting making a subset of the tests work without cvxpy, like how a subset runs without halide right now? I need to think about that.

[2016-08-11 18:02] SteveDiamond commented on #13
I added python 3 support.

[2016-08-11 18:02] #13 closed

[2016-08-12 15:24] adler-j commented on #16
It certainly makes sense for that, we had a [very similar discussion in ODL](https://github.com/odlgroup/odl/issues/76), but our decision was to leave this as a detail and go for the `proximal.solve(...)` syntax as the "default".

A short suggestion in order to make your syntax more concise would be to add `solve´ to proximal, something like

[code]

since this seems to be the most common use case

[2016-08-12 15:33] adler-j commented on #15
Sure makes sense to have a gold standard, but you really need to be vary that `cvx` could also be wrong (since you use similar algorithms etc). You just make sure to run as many tests as possible with a known optimal result.

Yes, that's exactly what I mean.

Great! For windows, a `conda` package would be great. But windows is just me running on my laptop (since I'm officially on vacation right no

[2016-08-16 12:56] adler-j opened #19 "Simplified version of the main example raises Exception"
If we remove the regularizer and nonnegativity condition from the example in the README, we get:

[code]

I get an error:

[code]

The problem can be partially fixed by adding square brackets (`[  ]`) around the argument to `proximal.Problem`, but then another issue appears:

[code]

I get an error:

[code]

Tried on windows 7 with python 2.7 and the latest version of proximal from master.

[2016-08-16 15:48] adler-j opened #21 "Support for several variables"
Currently when trying to use several variables at once:

[code]

errors are encountered. Is this type of problem intended to be supported in ProxImaL? If not, perhaps a check should be added to disallow it.

[2016-08-16 15:51] adler-j opened #22 "initializing subsample in 1d"
Initializing a `proximal.subsample` in 1d seems to have harsher requirements on the input than for example `Variable`:

[code]

[2016-08-26 21:58] SteveDiamond commented on #22
This is fixed.

[2016-08-26 21:58] #22 closed

[2016-08-26 21:58] SteveDiamond commented on #19
This is fixed.

[2016-08-26 21:58] #19 closed

[2016-08-26 22:00] SteveDiamond commented on #15
cvxpy actually uses quite different algorithms (that solve to much higher accuracy). So it really is a gold standard. I'm going to keep it as a required dependency for the tests.

[2016-08-26 22:00] #15 closed

[2016-08-26 22:12] SteveDiamond commented on #21
Multiple variables are supposed to work. This particular bug is fixed now. A lot of the problem analysis and rewriting is disabled for multiple variables at the moment (though the plan is to make it work).

[2016-08-26 22:12] #21 closed

[2016-10-10 10:58] grauniverse opened #24 "Extending Lin_Op"
Hello everyone,

I am currently extending the 'Lin_Op' class by creating a new class 'matrix_nonsquared_mult2'. This operator should perform the following operation:

C * i - h

where:
   - "i" is the variable 442x19800 matrix
   - "h" is some data 442x19800 matrix
   - "C" is  a 442x442 matrix operator
   - "*" denotes a common matrix-matrix multiplication

As can be noted, unlike "mul_elemwise",

[2016-10-10 12:24] grauniverse commented on #24
Maybe it could be helpful to provide the function calls traceback from my compiler:

`Traceback (most recent call last):
  File "C:\Users\jgraucho\Desktop\eclipse\plugins\org.python.pydev_5.2.0.201608171824\pysrc\pydevd.py", line 1531, in <module>
    globals = debugger.run(setup['file'], None, None, is_module)
  File "C:\Users\jgraucho\Desktop\eclipse\plugins\org.python.pydev_5.2.0.201608171824\p

[2016-10-10 17:11] SteveDiamond commented on #24
Delete the ``get_diag`` and ``is_diag`` functions. They're not what you want here. Also the ``norm_bound`` is wrong, so delete that as well.

[2016-10-11 08:46] grauniverse commented on #24
Thank you very much Steve. Bug solved.

[2016-10-11 17:11] #24 closed

[2016-10-14 13:07] adler-j opened #26 "OpenCV dependency missing"
When running `pip install proximal` you get an error:

[code]

It seems some `cv2` binding has to be added to the list of dependencies.

Edit:

I installed [opencv-python](https://pypi.python.org/pypi/opencv-python/3.1.0.3) via `pip install opencv-python` and it works great for me. So that binding can be added.

[2016-10-14 13:09] adler-j opened #27 "0.1.5 release"
It was a while since the last release and some bugfixes has been done since. How about a new release so users can get the newest version from `pip`?

[2016-10-14 17:07] SteveDiamond commented on #26
I added ``opencv-python`` as a dependency in setup.py. This is a much easier way to install the binding then I knew about!

[2016-10-14 17:07] #26 closed

[2016-10-14 17:25] SteveDiamond commented on #27
There's now a 0.1.6 on PyPi that's in sync with proximal master (I messed up 0.1.5).

[2016-10-14 17:25] #27 closed

[2016-11-30 19:42] Trass3r opened #30 "installation instructions need overhaul"
http://www.proximal-lang.org/en/latest/install/index.html
Tested Miniconda3 (Python 3.5) on Win7.
* installation for all users does not work
* misleading dependency conflicts: https://github.com/conda/conda/issues/2791#issuecomment-227618438
* mentioned pil dependency is neither available for python3 nor needed it seems
* opencv install as described did not work
* but was installed automatically w

[2016-11-30 19:44] Trass3r commented on #30
So in the end this worked to run the sample from the front page.

[code]

[2016-12-02 17:00] SteveDiamond commented on #30
Thanks, this is helpful. We haven't been testing python 3 on windows very regularly. What exactly is the difference between miniconda2 and miniconda3? Miniconda2 supports Python 3 environments, it's just python 2 by default.

[2016-12-02 17:06] Trass3r opened #31 "Halide: support other compilers/platforms"
msvc hack: https://github.com/Trass3r/ProxImaL/commit/639eeeb97afc4323f353385b4dfb4dbaf3c2ed1d

[2017-02-16 13:19] wiedemannc opened #33 "Compiler error in fft2_r2c.cpp"
My compiler (MSVC) complains about WTARGET and HTARGET undeclared identifiers in fft2_r2c.cpp:

[code]

I didn't find references for these anywhere in the code, so I'm unsure about how to fix these.

[2017-02-16 13:20] wiedemannc commented on #30
It would be also helpful to include the correct halide version (AFAIK it is the version from April 27th 2016).

[2017-02-16 19:18] Trass3r commented on #33
I'm pretty sure I saw it somewhere being passed to the Halide class or similar. But can't find it right now.
Anyway here's the patch I use for compiling the Halide code with msvc in general: https://github.com/Trass3r/ProxImaL/commit/639eeeb97afc4323f353385b4dfb4dbaf3c2ed1d

[2017-02-17 08:02] wiedemannc commented on #33
I have used that already - thanks for this :)

[2017-03-14 21:24] multigrid101 opened #35 "Applying operators to input image"
Sometimes, it is desirable to apply operators to the input image, e.g. in optical flow.

I cannot figure out if this is even possible. I tried defining e.g. (this functional makes no sense, its just supposed to be a minimum example).

[code]

but I end up with some error because the problem contains `grad(I)`. The actual error differs, depending on what I'm actually trying to do in my functional.

[2017-03-15 00:27] SteveDiamond commented on #35
The syntax ```prob = Problem( grad(I) - grad(x)) + sum_squares(v1)``` doesn't make sense. The problem object contains the objective.

You can do ```sum_squares(mul_elemwise(grad(I,1).value,x))).`` I guess it doesn't automatically evaluate to a constant right now.

[2017-03-15 00:27] #35 closed

[2017-03-24 15:03] multigrid101 opened #37 "Using Halide implementation leads to 'undefined types' error"
I tried to use the Halide implementation of proximal by setting `implem=Impl['halide']` in the `Problem` class, but I got a lot of errors if I try to use the ADMM algorithm. With the Pock-Chambolle algorithm, everything seems to work fine.

Any ideas what might be the cause of this? The first lines of the log seems to suggest that proximal is using halide types that do not exist but I somehow doub

[2017-04-06 10:45] wiedemannc opened #38 "Cuda version"
Hi,

before creating a pull request for this with the necessary clean-up actions, I'd like to hear the opinion of the authors about this. I created a port using pycuda to improve performance. Currently a subset of the linear operations, the group_norm1 prox function and the Pock Chambolle algorithm is supported. I observe a nice speedup  of a factor 10 compared to the native python implementation

[2017-04-07 00:20] SteveDiamond commented on #38
This sounds promising! We've been talking for a while about rewriting the backend in tensorflow, but realistically I don't know when we'll have time. Pycuda seems like a good solution too, so I'm definitely interested in incorporating the work you've done.

[2017-04-07 07:02] wiedemannc commented on #38
Thanks for the quick response! So I'll clean up the code and create a pull request for this in the next days.

[2017-04-07 19:33] fheide commented on #38
Looks quite promising ! Would be great if you could also add a few examples along your changes.

[2017-08-31 16:33] timmeinhardt opened #40 "CompGraph class destructor not called"
For my last project I had to perform an extensive hyperparameter optimisation during which I regularly ran out of memory. After spending some time to find the memory leak I came across the `CompGraph` class which has a self reference cycle. Such a cycle prevents a class from being deleted.

The problem is the `self` injected into the other objects in those two lines:
[code]
To fix the problem I ch

[2017-08-31 17:07] timmeinhardt opened #41 "ProxFn least_squares Halide compilation error"
Solving a problem with the `least_squares` prox function in Halide implementation modus throws the following errors during compilation:

`../ProxImaL/build/lib/proximal/halide/src/fft2_r2c.cpp:52:71: error: use of undeclared identifier 'WTARGET'

        paddedInput = repeat_image( constant_exterior(input, 0.f), 0, WTARGET, 0, HTARGET);

[2017-09-01 12:59] timmeinhardt opened #42 "Scaled problem and x0 solver initialisation"
Creating a `Problem` with `scale=True` causes a scaling of the prox functions with the operator norm `Knorm`. This usually works fine, but when a problem is solved with an `x0` initialisation other than `None` (i.e. all zeros in `x0`) the scaling of the parameters and the input do not match. From my understanding the initialisation `x0` has to be scaled as well. For example with:

`x0 = x0.copy()

[2017-09-02 00:06] #10 closed

[2017-09-02 00:07] SteveDiamond commented on #42
This is a great point (as are #41 and #40). Would you mind compiling them all into a single pull request?

[2017-09-04 12:49] timmeinhardt commented on #42
I am happy to prepare a PR for the three issues, but are you sure that my fix of #40 is the best way of solving the issue?

[2017-09-05 13:19] timmeinhardt opened #43 "Patch_NLM CUDA availability and missing Halide compilation flags"
If implementation modus _Halide_ is activated the `patch_NLM.py` prox function uses an OpenCV  _CUDA_ implementation of the NLM denoiser. Besides checking for the correct dimensions I think the if statement should also check if _CUDA_ is actually available. For this the `cuda_available` variable from `cuda_codegen.py` could be exported as a flag which is package-wide available.

Furthermore the co

[2017-09-05 14:42] timmeinhardt opened #44 "Multiple issues with halide.py"
While working with _ProxImaL_ in Halide implementation modus I encountered multiple problems in `halide.py`:

1. `e.message` is not correctly transpiled to Python 3. The `message` attribute is not removed even though it does not exist in Python 3 and therefore throws an error. I suggest to remove the `messsage` attribute at all. `"{0}".format(e)` should work in both Python versions.

2. From NumPy

[2017-09-05 15:21] timmeinhardt opened #45 "Problem class and the implementation parameter"
From my understanding the `implem` parameter of the `Problem` class should work as a global implementation flag for the entire computation graph. One either specifies the implementation modus for each component individually or with the `implem` parameter of the `Problem` class.

Currently this is not the case if the problem is not scaled. Additionally the implementation modus is not handled very c

[2017-09-05 15:29] timmeinhardt opened #46 "Feature suggestion for mul_elemwise class"
I suggest the following changes for the linear operation `mul_elemwise`:

1. Check if the two input variables are broadcastable and if so allow a broadcasted multiplication.
2. Multiply not only with a fixed constant but also with an arbitrary variable (e.g. scalar or matrix).

Is the current state intentionally or does it make sense to send a PR with change suggestions?

[2019-09-11 00:26] ziwenjiang commented on #37
Hello, I am recently starting to use Proximal. Just curious how do you set the implmentation to be 'halide' in the Problem class? I also run into the type errors as following:
 `candidate function not viable: no known conversion from
      std::__1::__vector_base<FuncRefExprT<ComplexExpr>,
      std::__1::allocator<FuncRefExprT<ComplexExpr> > >::value_type (aka
      FuncRefExprT<ComplexExpr>) to

[2019-09-11 17:52] ziwenjiang commented on #37
@multigrid101

[2019-09-16 17:50] ziwenjiang commented on #44
@timmeinhardt hello, when I tried to run the _Run generator_ command, I kept running into the error of `Either -g <name> or -r must be specified; available Generators are: fftR2CImg` after adding the lines you posted. My system is OSX. Can you tell me if you have ever ran into the same error? thanks!

[2019-09-17 23:50] ziwenjiang opened #48 "Version of Halide"
Hello, I am recently trying to use ProxImaL library and wondering which version of Halide did you guys build on? The code corresponding to halide seems to not work with the current version of Halide. Thanks!

[2019-09-24 17:16] timmeinhardt commented on #44
Last time I tried out the code is almost 2 years ago and I can not remember such an error. Unfortunately my changes were net integrated into the repository and therefore might be outdated. Maybe one of the libraries introduced some breaking changes that are not yet considered by changes introduced in this PR.

[2019-09-24 17:50] ziwenjiang commented on #44
Indeed. I checked the Halide library and they change a certain amount of syntax and architecture after 2018. Any chance you still have a record of what version of Halide you used at that time, like the commit/branch number? Thanks for the help!

[2019-09-25 17:19] timmeinhardt commented on #44
@ziwenjiang Yes, in [this](https://github.com/tum-vision/learn_prox_ops) repository I explain how to run the code and I also specified the Halide version date: 2016/04/27.

Unfortunately the original link to this release is broken. But maybe the date helps you!

[2020-10-15 20:38] antonysigma commented on #44
Hi @SteveDiamond I came across your ProxImaL project just a week ago, and I would like to help contribute to the project by porting it to Ubuntu 20.04 + Python 3.6 + Halide 8.0. I wonder if you still accept pull requests?

In the meantime, I managed to get a few of the Halide code to compile again, with around 10% test pass on Travis CI:

https://travis-ci.com/github/antonysigma/ProxImaL/jobs/4003

[2020-10-15 22:06] SteveDiamond commented on #44
Sure, I'm happy to take PRs.

[2020-10-16 15:23] antonysigma commented on #44
Thanks. Here you are: https://github.com/comp-imaging/ProxImaL/pull/49

[2020-10-19 16:22] #41 closed

[2020-10-19 16:22] #44 closed

[2020-10-19 16:22] #48 closed

[2020-10-19 16:22] #30 closed

[2020-10-19 16:22] #33 closed

[2021-03-09 17:49] jonpry opened #52 "Unable to extract background field "w"; modified Horn-Shunck optical flow with norm1"
Hi,

   Using proximal, with an odl operator, I was able to implement robust horn-shunck optical flow in just a few lines of code. Amazing!

[code]
This works great. However, I am trying to solve a slightly different problem:

[code]
In short I have added the free variable w. After doing this, the results don't make sense. The regularization parameter alpha makes no difference. 0 to 1e40 all give

[2021-03-09 20:33] jonpry commented on #52
Thank you for your quick response!  Hopefully this example will be informative. I know that the proper solution to this is that u and v are zero everywhere, and w is .08 inside the circle, and 0 outside. Of course there will be distortions around the boundary. I have implemented an iterative solver for this problem, at least the l2 norm version of it, and it gets the right solution, but I can't se

[2021-03-12 17:23] antonysigma commented on #52
Hi @jonpry ,

I was the previous contributor of the project, primarily reworked the Halide system.

I believe what you observed is likely the same issue I encountered at
https://github.com/comp-imaging/ProxImaL/blob/master/proximal/tests/test_algs.py#L37-L40
I convinced @SteveDiamond to skip those test cases; the lack of global minimum didn't seem to bother the typical users. Specifically, those w

[2021-03-12 17:39] SteveDiamond commented on #52
Now I'm feeling a bit guilty. I can guarantee that the problem is 1 not 2. I'll take a look this weekend.

[2021-03-12 20:53] jonpry commented on #52
The results of test_algs.py
[code]

[2021-03-14 06:23] SteveDiamond commented on #52
I investigated these bugs with git bisect, and the last working commit was ``2804c19e141b637a5fcbf92acdcae81cab4c6d1e``. @jonpry could you try the tests on that commit?

[2021-03-14 06:29] SteveDiamond commented on #52
@antonysigma sorry I didn't do better due diligence on your much appreciated update to this somewhat neglected project. We'll sort out what's going on here.

[2021-03-15 16:38] jonpry commented on #52
@SteveDiamond

I ported the head test_algs.py and ran it on the 2804c19e141b637a5fcbf92acdcae81cab4c6d1e tree. Results are:

[code]

Qualitatively, it is a little different. Admm and PC are now giving similar results on my test script, and it feels 'closer' but something is still definitely wrong. It seems to me that for large values of alpha, the laplacian penalty should cause the solution to be

[2021-03-15 16:48] SteveDiamond commented on #52
These results are very surprising for me, because all the test_algs tests pass on my machine for the ``2804c19e141b637a5fcbf92acdcae81cab4c6d1e`` commit. I'm not really sure where to go from here.

[2021-03-15 16:49] SteveDiamond commented on #52
Are you sure you're really running against that commit?

[2021-03-15 17:11] jonpry commented on #52
I checked it out twice, removed everything from dist-packages and installed it.

These are the test files I modified:
[tests.zip](https://github.com/comp-imaging/ProxImaL/files/6143206/tests.zip)

I am running python 3.9 under linux amd64. Could it be a problem with cvxpy?

[2021-03-15 18:12] SteveDiamond commented on #52
Thanks @jonpry. Could you say more about why you modified tests? I ran the exact tests in the commit. I highly doubt the problem is with cvxpy but I guess anything is possible in theory.

[2021-03-15 18:21] jonpry commented on #52
@SteveDiamond The tests in 2804c19e141b637a5fcbf92acdcae81cab4c6d1e are different than the tests in head. It would seem to me that if we are rolling back to see if it fixes the failure in head, we should not run a different set of tests. Running the tests in 2804c19e141b637a5fcbf92acdcae81cab4c6d1e did not exactly work for me. Newer cvxpy maybe, didn't like Variable(dim1,dim2) syntax. After modify

[2021-03-15 18:24] SteveDiamond commented on #52
@jonpry I fear that the commits since 2804c19 have put everything in a somewhat broken state, so I wanted to check that if we went back to 2804c19 things still work. It sounds like they do? If so I would suggest proceeding with 2804c19 as your version of ProxImaL and we will take some time and get head sorted out.

[2021-03-15 18:34] jonpry commented on #52
Even on commit 2804c19e141b637a5fcbf92acdcae81cab4c6d1e, this test in particular fails:
[code]

with FAILED test_algs.py::TestAlgs::test_admm_two_prox_fn - AssertionError: assert 0.78355053884267778 < 1e-05
This seems like ADMM is not converging to me. I will try to go back further and find a commit that works.

[2021-03-15 18:52] antonysigma commented on #52
@SteveDiamond , sorry to add more "noise" to the conversions. Perhaps what is revealed in `test_algs.py` is a separate issue originating from https://github.com/comp-imaging/ProxImaL/issues/15#issuecomment-239227226? It may or may not be relevant to what @jonpry is describing here.

I can fork the `test_algs.py` related discussion in a separate Github case.

---
Observations: code Snippet A passes

[2021-03-29 00:05] soufianekhiat opened #57 "Baremetal only version?"
As some core is based on C++ & Halide.
Is there a way to reproduce the results of the paper using only C++?

[2021-03-30 15:00] antonysigma opened #58 "Github Action: Halide-Python binding does not match the Python version specified"
Ok I tried to switch things over to github actions, got pretty far but ran into compilation issues. If you're able to take a look at all I'd really appreciate it!

_Originally posted by @SteveDiamond in https://github.com/comp-imaging/ProxImaL/pull/54#discussion_r602940111_

The problem: Github actions wants to test the ProxImaL project in the non-native Python environment, e.g. v3.7. However, the

[2021-03-30 18:18] SteveDiamond commented on #58
Thanks for looking into this! I'll look into 1. I don't know much about Meson but I could give 2 a try as well.

[2021-03-31 01:22] antonysigma commented on #58
Great! I look forward to it.

In the meantime, I have incorporated solution #2 to the Halide-10 pull request. I am not sure how to execute GH action on the non-default branch though.

https://github.com/comp-imaging/ProxImaL/pull/54/commits/1eab8fc21054eca5aa236ec763b43e1372ca4b96

[2021-03-31 22:57] #58 closed

[2021-03-31 22:58] SteveDiamond commented on #57
I don't know about that. You could ask Felix Heide (at Princeton now). He generated most of the paper results.

[2021-03-31 23:27] skhiat commented on #57
I could reframe my question as:
Could we use ProxImaL without the python interface? Or some stuff live only on the python side?

[2021-03-31 23:30] soufianekhiat commented on #57
I could reframe my question as:
Could we use ProxImaL without the python interface? Or some stuff live only on the python side?

[2021-04-01 03:28] jrk commented on #57
Ah, I think that's a very different question — the Halide code generally lives *under* the C++ (giving implementations of some of the core operations), with Python above that. I think much of the fundamental methods' implementation lives at the Python level so it is not practical to cut that out, but @SteveDiamond is the right person for this query.

[2021-04-01 03:29] jrk commented on #57
Can you say anything about your use case and motivation?

[2021-04-01 10:57] soufianekhiat commented on #57
We have various use cases/motivations.
* If we want to embed ProxImal to a binary where Python is not an option
* Python became a standard for the prototyping stage, but on various industries it's a "no go" for the industrialization/release stage.
* Performance
On the paper we have:
"The proximal and linear operators are evaluated using a combination of NumPy and Halide-generated parallel and vect

[2021-04-01 15:02] antonysigma commented on #57
I am glad @jrk can chime in to help explore the next phase of the ProxImaL. Before I chime in, I have a disclaimer: I recently ported the project to Nvidia Jetson embedded device https://github.com/comp-imaging/ProxImaL/pull/54.

Let me see if I understand @soufianekhiat 's use-case:

**High-level requirement:**

I suggest that title of the Github issue be renamed to "Baremetal only version?"
Or,

[2021-04-01 18:40] soufianekhiat commented on #57
I followed this merge, which re-bright back the interest to the ProxImaL ( :

I don't know, I'm not aware of micro-TVM.

To elaborate a bit on that. The reason of not using Python is not only related to memory. Some target (legally) forbid the usage of interpreted code (could be fixed with Cython?). But for instance on Game Console with AMD GPU Device CUDA is not usable. It's hard for me to defend

[2021-04-01 18:40] soufianekhiat opened #59 "Component Level Specification"
Fork from other discussion:
**Component level specification**

I suggest that we fork out a separate Github issue to discuss this. @jrk and @SteveDiamond can chime in as well.

My first thought is that ProxImaL, just like FlexISP, generates a cyclic compute graph. The lack of compute cycles in Halide is a fundamental strength to customize the compute schedule (or weakness in your use-case?).

As t

[2021-04-01 19:03] SteveDiamond commented on #59
@soufianekhiat this proposal makes a lot of sense as a future development goal. When we created proximal it was envisioned more as an exploratory toolbox, and so the dependency on Python is there to make it easy to try out different approaches. But a more "production" use case would be very interesting as well.

[2021-06-16 10:07] HIROJAPAN opened #60 "I want to compare the elements of the array of two variables and use the larger value as the new variable."
Is it possible to apply two convolution filters to the variable X, compare the elements of the two arrays, and choose the larger value?　And can ProximaL solve the problem?

[2021-07-28 03:08] DeckerDai opened #61 "Website can't be reached"
Thanks for your wonderful works. But the website: proximal-lang.org can't be reached.

It shows an error: DNS_PROBE_FINISHED_NXDOMAIN

Could you check this?

Thank you!

[2021-07-28 04:52] fheide commented on #61
Thanks a bunch! I just fixed this.

[2021-07-28 04:52] #61 closed

[2022-02-09 17:00] antonysigma opened #63 "Need help to resolve the bug in ladmm (omega_fn shape mismatch)"
Hi @SteveDiamond , I found a bug in `linearized_admm.py` causing the algorithm to return exceptions. I documented it in the draft pull request: https://github.com/comp-imaging/ProxImaL/pull/62

Could you please suggest a permanent fix? In the meantime, I will find a quick fix to workaround the shape mismatch.

Regards,
Antony

[2022-02-14 04:19] #63 closed

[2022-08-13 15:24] antonysigma commented on #59
@SteveDiamond revisiting the proposal 1 year later, may I suggest changing the issue heading from "Component Level Specification" to "Generating halide-optimized routine from K.fwd and K.adj" ?

Here, K means the Proximal generated mapping `z - K x`. Feel free to paraphrase the title so it makes sense.

[2022-08-13 15:27] antonysigma commented on #59
The first impression is that the mapping `K`, being a `CompGraph`, contains subgraphs that cannot be converted into halide code. So, the `CompGraph` will need to have graph query and manipulation algorithms to fuse halide-friendly sub-graphs into a single code.

I see that these graph algorithms, in `proximal.utils.cuda_codegen.CudaSubgraph`, are already implemented and bundled with `pycuda_codege

[2022-09-09 23:08] antonysigma commented on #57
If the problem is convex in nature, @SteveDiamond 's most recent work on [CVXPYgen](https://github.com/cvxgrp/cvxpygen) could be a better option. The generated solver in C may not include any proximal / ADMM algorithms, not Halide code, but it should fit the needs for image restorations in small size.

[2022-09-10 08:33] soufianekhiat commented on #57
To clarify the needs. That's interesting, but I'm looking for a pipeline without Python at all, let say an artist build a computional graph with a Node Based Editor, on my side I solve the problem they want (Halide auto schedule before processing), or directly solving it with an optimization algorithm. I would like to add the features allowed by ProxImaL but only based on C++.
The full C++ with Py

[2022-09-10 09:10] SteveDiamond commented on #57
This is helpful clarification!The output of CVXPYgen does not involve any Python code though, so it may still be useful. Python is only involved in code generation.

[2022-09-12 10:31] soufianekhiat commented on #57
In fact CVXPYgen himself need Python, so If I know the problem to solve before I need to ship Python and a C++ compiler (build dll + hot reload) with the tool.
Currently I'm building everything programmatically with Halide + JIT.

[2022-09-13 18:13] antonysigma commented on #57
Got it. Porting ProxImaL or CVXpyGen to a pure C++ implementation takes a mammoth code refactoring effort with low return on investment. Have you considered deploying the pipeline using the Canadian-cross build process?

That is, create ProxImaL-Gen or CVXpyGen to run on the PC (Windows or Linux OS) to export Halide code, then compile the halide-AOT backed generator. Execute the generator app to e

[2022-09-21 20:46] soufianekhiat commented on #57
I wasn't aware of this naming "Canadian-cross build process".
I'll do my best to contribute, I'll take a look on linearized_admm.
Thanks

[2022-09-29 15:49] antonysigma commented on #60
If I understand your question, are you trying to compute the "[L_p,q norm](https://en.wikipedia.org/wiki/Matrix_norm#L2,1_and_Lp,q_norms)" of the signal?

[code]

Yes you can express this problem with ProxImaL, but you will have to implement your own proximal function for `L_p,q`. Also, deferring to @SteveDiamond regarding the convexity of such problem.

For general convex optimization problems, I

[2022-09-29 16:25] SteveDiamond commented on #60
This could also be implemented as an elementwise maximum of ``a`` and ``b``. This is convex and would be pretty easy to add.

[2022-10-26 03:37] #57 closed

[2022-10-26 19:26] antonysigma commented on #59
Post PR #65 update:

This issue is regarding how to modify `proximal` to implement the following code, namely `K.halide_forward_graph.gen_code()` and `K.halide_adjoint_graph.gen_code()`.

https://github.com/comp-imaging/ProxImaL/blob/e3d08d73483f7173f8c3e321c723e8e9cb8c725c/proximal/templates/problem-definition.h.j2#L35-L44